*{
	font-family:'Microsoft YaHei';
	margin:0;
	padding:0;
	font-size:13px;
	word-wrap:break-word;
	word-break:break-all;
}
.auto{
	border:1px solid #999;
	background-color:white;
	padding:20px;
}
.body{
	padding:20px;margin:20px;
	height:450px;
	background-color:#eee;
	border:1px solid #999;
}
.body{
	overflow:auto;
}
.body .left{
	width:160px;
	float:left;
}
.body .left img{
	height:80px;
	margin-right:20px;
	float:left;
}
.body .left .name{
	margin-top:0;
	float:left;
}
.body .middle{
	margin-left:220px;
	margin-right:140px;
}
.body .right{
	float:right;
}
.body .right img{
	height:80px;
	margin-bottom:20px;
}
.body .right li{
	list-style:none;
}
.body .right .lastli{
	margin-bottom:0;
}