*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	padding:0;
	margin:0;
}
body{
	width:1366px;
	font:12px "微软雅黑";
}
a{
	cursor:point;
	text-decoration:none;
}
li{
	list-style:none;
}
input[type="submit"]{
	cursor:pointer;
	color:#fff;
}
input[type="text"]{
	border:none;
	outline:none;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}
/*头部开始*/
.header{
	width:100%;
	height:57px;
	min-width:768px;
	background:#228AC1;
}
.header_left{
	height:36px;
	width:36px;
	background:#fff;
	position:relative;
	margin:10px 0 0 48px;
	display:inline-block;
}
.header_left_1{
	height:18px;
	width:18px;
	background:#fff;
	border-top:3px solid #228AC1;
	border-left:3px solid #228AC1;
	position:absolute;
	right:0;
	bottom:0;
}
.header_right{
	float:right;
	width:410px;
	height:100%;
	padding:13px;
	margin-right:50px;
}
.header_input img{
	margin-top:5px;
}
.header_input{
	display:inline-block;
	height:28px;
	width:314px;
	border-radius:14px;
	padding-left:14px;
	background:#FFF;
}
.header_logon{
	display:inline-block;
	margin-left:10px;
}
.header_logon a{
	color:#fff;
	margin:0 0 0 2px;
}
.header_logon img{
	margin-bottom:-2px;/*为什么这个就可以实现！？*/
}
/*头部结束(如何实现头部宽度与浏览器宽度保持一致)*/
/*左侧栏开始*/
.aside{
	width:260px;
	height:1210px;
	background:RGB(43,46,61);
	padding:20px 0 0 0;
	color:RGB(97,112,131);
	display:inline-block;
}
.aside .part1{
	height:60px;
	position:relative;
	margin-left:42px;
}
.aside .part1_span1{
	display:inline-block;
	height:60px;
	width:60px;
	border-radius:30px;
	border:1px solid RGB(185,186,190);
}
.aside .part1_span1_in{
	height:48px;
	width:48px;
	border-radius:24px;
	background-color:RGB(185,186,190);
	margin:5px;
}
.aside .part1_span2{
	color:#fff;
	position:absolute;
	left:80px;
	height:60px;
	line-height:60px;/*line-height要和position:absolute;一起出现？*/
	font-size:16px;
}
.aside .part2{
	width:115px;
	height:34px;
	margin:25px 0 25px 62px;
}
.aside .part2_left{
	float:left;
	padding-right:30px;
	border-right:1px solid RGB(97,112,131);
}
.aside .part2_right{
	float:right;
}
.aside .part3 .part3_li {
	padding-left:42px;/*若为.part3_ul1 {margin-left:42px;}则背景颜色左侧边缘不能铺满*/
}
.aside .part3 .part3_li:hover{
	background:#383D4E;
	cursor:pointer;
}
.aside .part3 img{
	display:inline-block;
}
.aside .part3 p{
	display:inline-block;
}
.aside .part3 .part3_p{
	margin:15px;
}
.aside .part3 .part3_p1{
	margin:7px;
}
.aside .part3 .part3_p2{
	margin:5px;
}
.aside .part3 .li1_img{
	margin-left:5px;
}
.aside .part3 .part3_ul2{
	margin-left:30px;
}
.aside .part3 .part3_ul3{
	margin-left:40px;
}
.part3_li1 {
	background:#383D4E;
}
.aside .p1,.p1_p2,.p1_p2_p1{
	color:white;
}
/*左侧栏结束*/
/*主体开始*/
.main{
	background:#EEE;
	height:1210px;
	min-width:1106px;
	display:inline-block;
	position:absolute;
	top:57px;/*为什么不用position<article>不能自动到这个位置*/
}
nav{
	padding-left:29px;
    height:31px;
    background-color:#FFFFFF;
	line-height:31px;
}
.main a{
	padding:5px;
}
.main a.head_a{
	color:#228AC1;
}
.main .head,.main a{
	color:RGB(185,186,190);
}
.main a:hover{
	color:#228AC1
}
.block{
	width:890px;
	margin:20px auto;
	position:relative;
}
.block1{
	height:86px;
	width:100%;
	background:#fff;
	padding:15px 0 15px 30px;
	margin-bottom:10px;
	border-top:1px solid RGB(184,184,184);
}
.block1 .border{
	border:1px solid RGB(203,203,203);
}
.block1 label{
	color:RGB(203,203,203);
	margin-right:10px;
}
.block_subject{
	float:left;
	margin-right:35px;
}
.block1_subject{
	background:url('images/blue_arrow.png') 90%/10px no-repeat;
	-moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
	height:25px;
	width:70px;
	display:inline-block;
}
.block1_change{
	width:200px;
	height:100%;
	display:inline-block;
	margin-right:32px;
}
.block1_change img{
	margin-top:-15px;
}
.block1 .arrow{
	background:url('images/black_arrow.png') 90%/10px no-repeat;
	-moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
	height:25px;
}
.block1 .change{
	width:120px;
}
.block1_other{
	width:305px;
	height:100%;
	display:inline-block;
	margin-right:30px;
}
.block1_other input[type="text"]{
	padding-left:5px;
	margin-right:20px;
	width:120px;
	height:25px;
}
.block1_time {
	width:70px;
}
.block1_people{
	width:70px;
	margin-top:2px;
	margin-right:20px;
}
.block1_deal{
	width:120px;
	margin-top:5px;
}
.block1 input[type="submit"],.block4_des_submit{
	background:RGB(57,137,193);
	height:27px;
	width:51px;
	border-radius:2px;
	border:none;
}
.block1 input[type="submit"]:hover,.block4_des_submit:hover{
	background:RGB(90,150,193);
	cursor:pointer;
}
.block1_submit{
	position:absolute;
	top:30px;
}
.block2_li1{
	border-top:3px solid RGB(57,137,193);
}/*在使用用一种样式时想除去其中某个部分怎么做？给出单独的class不行？*/
.block2 li{
	width:109px;
	height:62px;
	background:#fff;
	margin-right:5px;
	float:left;
	text-align:center;
	padding-top:10px;
	border-top:1px solid RGB(184,184,184);
}
.block2 li:hover{
	border-top:3px solid RGB(57,137,193);
	
}
.block2 .span_symbol{
	color:RGB(203,203,203);
	font-size:14px;
}
.block2_time{
	margin-bottom:5px;
}
.block2 .span_num{
	color:RGB(236,103,2);
	font-size:20px;
}
.block2_left,.block2_right{
	width:30px;
	height:62px;
	font-size:20px;
	background:#fff;
	color:RGB(203,203,203);
	text-align:center;
	line-height:62px;
	float:left;
	margin-right:5px;
	border-top:1px solid RGB(184,184,184);
}
.block2_left:hover,.block2_right:hover{
	background:RGB(221,221,221);
}
.block2_history{
	height:62px;
	width:135px;
	float:left;
	font-size:14px;
	background:#fff;
	text-align:center;
	border-top:1px solid RGB(184,184,184);
}
.block2_history a{
	background:#fff url(images/93.gif) no-repeat;/*用<img />的方式怎么使图片和文字同时垂直居中*/
	line-height:62px;
	padding-left:40px;
	color:#535353;
	cursor:pointer;
	padding-bottom:8px;/*使图片边框显示全*/
}/*是因为这个img根本没作用嘛！为什么！
.block2_history img:hover{
	cursor:pointer;
}*/
.block3{
	margin:23px 0 15px 0;
}
.block3_p0{
	margin-bottom:3px;
}
.block3 li{
	float:left;
	height:70px;
	width:200px;
	background:#fff;
	padding:12px 15px 12px 10px;
	box-shadow:0 0 1px RGB(184,184,184);
}
.block3 li:after{
	content:"";
	display:block;
	clear:both;
}
.block3 .block3_p{
	display:inline-block;
	float:left;
}
.block3 .block3_span1{
	color:RGB(93,93,93);
	margin:20px 0;
}
.block3 .block3_span2{
	color:RGB(184,184,184);
	font-size:10px;
	display:inline-block;
	margin-top:10px;
}
.block3 [class^="block3_color"]{
	width:60px;
	height:46px;
	float:right;
}
.block3_color1{
	background:RGB(67,178,159);
}
.block3_color2{
	background:RGB(57,138,193);
}
.block3_color3{
	background:RGB(207,75,54);
}
.block3_color4{
	background:RGB(225,205,70);
}
.block3_li1{
	border-left:3px solid RGB(67,178,159);
	margin-right:30px;
}
.block3_li2{
	border-left:3px solid RGB(57,138,193);
	margin-right:30px;
}
.block3_li3{
	border-left:3px solid RGB(207,75,54);
	margin-right:30px;
}
.block3_li4{
	border-left:3px solid RGB(225,205,70);
}
.block_box{
    border:1px solid RGB(184,184,184);
	color:RGB(102,102,102);
	box-shadow:0 0 1px RGB(184,184,184);
	border-radius:8px;
	background:#fff;
	position:relative;
	top:20px;
	display:inline-block;
}
.block4_tab{
	float:left;
	width:532px;
	height:360px;
}
.block4_p{
	height:42px;
	line-height:42px;
	padding-left:20px;
	background-color:RGB(244,245,246);
	border-radius:8px 8px 0 0;
	border-bottom:1px solid #ddd;
	color:#bbb;
}
.block4_tab_in{
	padding:13px 20px 0 20px;
}
.block4_tab_in li{
	float:left;
}
.block4_li input,.block4 [class^="block4_table"]{
	display:none;
}
.block4_li label{
	background:#ddd;
	width:82px;
	height:28px;
	line-height:28px;
	text-align:center;
	cursor:pointer;
	display:block;
	border:1px solid #ddd;
	border-bottom:0;
	border-radius:5px 5px 0 0;
	margin-right:5px;
	position:relative;
}
.block4_li table{
	width:100%;
	text-align:center;
	border-color:#ddd;
	padding:30px 50px 30px 38px;
}
.block4_li table td{
	width:100px;
	height:30px;
	text-align:center;
	line-height:30px;
	border-width:0 1px 1px 0;
	border-color:#ddd;
	border-style:solid;
}
.block4_li table tr:first-child td{
	border-top:1px solid #ddd;
}
.block4_li table tr td:first-child{
	border-left:1px solid #ddd;
}
.block4_li table td:hover{
	background:RGB(244,245,246);
}
.block4_li [id^="tab"]:checked~[class^="block4_table"]{
	display:block;
	border:1px solid #ddd;
	border-radius:0 8px 8px 8px;
	position:absolute;
	left:20px;
	box-shadow:0 0 1px #ddd;
}
.block4_li [id^="tab"]:checked~label{
	background:#fff;
	height:28px;
	position:relative;
	top:1px;
	z-index:1;
	border:1px solid #ddd;
	border-bottom:1px solid #fff;
}
.block4_des{
	float:right;
	width:351px;
	height:360px;
}
.block4_des_content{
	width:281px;
	height:236px;
	margin:20px auto;
}
.block4_des_content table{
	width:100%;
	height:190px;
	margin:8px auto;
}
.block4_des table td{
	border-width:1px 0px 1px 0;
	border-color:#ddd;
	border-style:solid;
}
.block4_des table tr:first-child td:first-child{
	border-right:1px solid #ddd;
}
.block4_des table tr:first-child td{
	border-bottom:0;
	height:45px;
}
.block4_des_content .word{
	padding-left:10px;
}
.block4_des_gray{
	color:#bbb;
}
.block4_des_td3{
	position:relative;
	top:-50px;
}
.block4_des_secret{
	width:100px;
	position:relative;
	float:left;
	margin-top:5px;
}
.block4_des_secret input{
	-moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
	outline:none;
	width:14px;
	height:14px;
	background:RGB(214,214,214);
	border:1px solid #ddd;
	cursor:pointer;
	position:absolute;
	left:0;
	top:1px;
}
.block4_des_secret input:checked{
	background:RGB(214,214,214) url("images/gou.png") no-repeat center;
}
.block4_des_secret span{
	margin-left:22px;
}
.block4_des_submit{
	float:right;
}
.block5_calendar{
	float:left;
	width:352px;
	height:362px;
	margin-top:10px;
}
.block5_ranking{
	float:right;
	width:533px;
	height:362px;
	margin-top:10px;
}
.block5_calendar_select{
	margin:10px 0 10px 20px;
}
.block5_calendar_select li{
	float:left;
	margin-right:5px;
}
.block5_calendar_select li select{
	width:78px;
	height:22px;
	outline:none;
}
.block5_calendar_select li span{
	cursor:pointer;
	border:1px solid #bbb;
	text-align:center;
	padding-top:2px;
	height:22px;
	width:65px;
	display:block;
	color:#000;
}
.block5_calendar_week{
	height:31px;
	width:312px;
	border-top:2px solid RGB(168,207,236);
	border-bottom:2px solid #ddd;
	padding:5px 0;
	margin:45px 0 10px 20px;
}
.block5_calendar_week span{
	display:inline-block;
	margin:0 13px 10px 15px;
}
.block5_calendar_date{
	margin-left:20px;
}
.block5_calendar_date li{
	width:43px;
	height:41px;
	float:left;
	text-align:center;
	margin-top:1px;
	margin-bottom:1px;
	border:1px solid #fff;
}
.block5_calendar_date li:hover{
	border:1px solid RGB(245,212,99);
}
.block5_calendar_date1{
	margin-left:170px;
}
.block5_calendar_holidy{
	color:RGB(206,53,56);
}
.block5 .block5_calendar_checked{
	border:1px solid RGB(245,212,99);/*加.block5是为了提高优先级，提高优先级的另一种方式可以直接加！important.*/
}
.block5_ranking table{
	width:450px;
	height:275px;
	margin:20px 0 0 40px;
}
.block5_ranking table tr td{
	height:24px;
	text-align:center;
	line-height:24px;
	border-width:0 1px 1px 0;
	border-color:#aaa;
	border-style:solid;
}
.block5_ranking table tr:first-child td{
	border-top:1px solid #aaa;
}
.block5_ranking table tr td:first-child{
	border-left:1px solid #aaa;
	width:68px;
}
.block5_ranking table tr td:nth-child(2){
	width:92px;
}	
.block5_ranking table tr:first-child{
	font-weight:bold;
}
.block5_ranking table tr:hover{
	cursor:pointer;
}
.block5_ranking table tr:not(:first-child):hover {
    background-color:RGB(244,245,246);
}
.block5_ranking .volume{
	margin-left:15px;
	display:inline-block;
	width:167px;
	height:4px;
	background:#ddd;
}
.block5_ranking table tr:nth-child(2) .volume{
	border-left:142px solid RGB(237,109,82);
}
.block5_ranking table tr:nth-child(3) .volume{
	border-left:122px solid RGB(239,129,80);
}
.block5_ranking table tr:nth-child(4) .volume{
	border-left:102px solid RGB(241,158,78);
}
.block5_ranking table tr:nth-child(5) .volume{
	border-left:92px solid RGB(127,103,239);
}
.block5_ranking table tr:nth-child(6) .volume{
	border-left:87px solid RGB(127,103,239);
}
.block5_ranking table tr:nth-child(7) .volume{
	border-left:82px solid RGB(127,103,239);
}
.block5_ranking table tr:nth-child(8) .volume{
	border-left:76px solid RGB(127,103,239);
}
.block5_ranking table tr:nth-child(9) .volume{
	border-left:72px solid RGB(127,103,239);
}
.block5_ranking table tr:nth-child(10) .volume{
	border-left:69px solid RGB(127,103,239);
}
.block5_ranking table tr:nth-child(11) .volume{
	border-left:66px solid RGB(127,103,239);
}